.body{
    margin-top: 50px;
    direction: rtl;
    text-align: center;
    }
    .body th{
font-size: 20px;
text-align: center;

    }
    .bodyModel{
        margin-top: 50px;
        direction: rtl;
    

    }